.container {
    text-align: center;
    margin: 0 auto;
    font-weight: 300;
}

.container h1 {
    font-weight: normal;
    color: black;
    text-decoration: underline;
}

img {
    /* border: 2px solid black; */
    border-radius: 20px;
    opacity: 0.75;
    transition: 0.25s ease-in-out;
}

img:hover {
    opacity: 1;
}

button {
    cursor: pointer;
    width: 300px;
    height: 50px;
    font-size: 20px;
    color: lightblue;
    background-color: lightslategray;
    border-radius: 20px;
    outline: none;
}

button:hover {
    background-color: lightsteelblue;
    color: whitesmoke
}

ul li {
    color: rgb(54, 59, 54);
    font-size: x-large;
    list-style: none;
    font-family: 'Tangerine', serif;
    ;
}

ul {
    font-weight: normal;
    color: rgb(25, 190, 19);
    font-size: x-large;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}